/* You can add global styles to this file, and also import other style files */
$gray_color: rgb(39, 39, 39);
$primary_color : rgb(29, 161, 242) ;
$primary_high_hover_button: rgba(29, 161, 242, 0.8);
$primary_low_hover_button: rgba(29, 161, 242, 0.1);
$text_color: #D9D9D9;
$border_color:rgb(47, 51, 54);

html, body {
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 100%; 
}
body { margin: 0; font-family: Gotham , "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Gotham , "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
